@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-image: linear-gradient(to right,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: "Barlow Semi Condensed";
}

.Dados_user{
    width: 40%;
    margin: 0px auto;
    border: 2px solid #425172;
    margin-top: 3rem;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.text_itens{
    font-size: 24px;
    font-weight: 700;
}

.score_user{
    background-color: white;
    color: #575660;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#pontuacao_user{
    font-size: 30px;
    font-weight: 700;
}

.selecionar_item{
    width: 40%;
    margin: 0px auto;
    margin-top: 5rem;
}

.item_box{
    display: flex;
    justify-content: center;
}

.box_item{
    background-color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.papel_item{
    margin-right: 3rem;
    border: 10px solid #455ddf;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tesoura_item{
    border: 10px solid #f09c1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pedra_item{
    margin-top: 3rem;
    border: 10px solid #ce3150;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rules_content{
    position: fixed;
    bottom: 30px;
    right: 30px;
    
}

.rules_content button{
    background-color: unset;
    border: 2px solid #8b8ea8;
    color: white;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.box_item_selecionado{
    display: flex;
    margin: 0px auto;
    width: 40%;
    justify-content: space-around;
    margin-top: 6rem;
    align-items: center;
    display: none;
}

.mensagem_resultado{
    color: white;
    font-size: 40px;
    margin-bottom: 1rem;
}

.jogar_novamente{
    background-color: white;
    border: 2px solid #8b8ea8;
    color: black;
    padding: .5rem;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.modal_rules{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal_box{
    width: 380px;
    margin: 0px auto;
    background-image: linear-gradient(to right,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 320px;
    margin-top: 10rem;
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid white;
    color: black;
}

.title_rules{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.text_rules{
    margin-top: 1rem;
    font-size: 16px;
}

.text_rules p{
    margin-bottom: .5rem;
}

.info_inportant{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 20px;
}

.close_regras{
    cursor: pointer;
}